<div class="media details">
    <a class="back" href="#/potato/">Back</a>
    <h2 class="truncate"><a class="title" href="{{potato.items.link}}">{{potato.items.title}}Short loin kevin pastrami, porchetta kielbasa pig </a></h2>
    <nav class="links">
        <a href="https://www.flickr.com/people/{{potato.items.author_id}}">{{potato.items.author}} John Doe</a>
        <p>Published: {{potato.published | date: "MMM dd, yyyy 'at' h:mma"}}</p>
    </nav>
    <div class="media-left">
        <a href="#/potato/{{potato.id}}" class="thumb"><img ng-src="{{potato.media.m}}" alt="{{potato.items.title}}"></a>
        <img src="http://placekitten.com/202/153" alt="kitten">
    </div>
    <div class="media-content">
        <p>Bacon ipsum dolor amet kielbasa tail boudin pork loin alcatra shoulder spare ribs sausage kevin cupim pork chuck tongue flank tri-tip. Alcatra hamburger ham kevin. Boudin chicken pork loin filet mignon, meatball landjaeger chuck sausage. Alcatra corned beef tongue, t-bone chuck prosciutto tri-tip shoulder hamburger andouille pastrami landjaeger short loin flank shank. Shank meatball chuck cow. Shoulder beef tenderloin short ribs bacon, kielbasa fatback bresaola ball tip sausage boudin ham hock corned beef pancetta.</p>

        <p>Short loin kevin pastrami, porchetta kielbasa pig chicken cupim rump filet mignon drumstick. Porchetta beef prosciutto shank bresaola, biltong corned beef tail tongue beef ribs. Jowl kevin fatback spare ribs pork brisket venison. Ham kielbasa bresaola sirloin, beef bacon strip steak. Jowl strip steak ribeye ham hock sausage, andouille tongue pancetta. Tongue cupim brisket strip steak. Pig kielbasa sirloin porchetta ham spare ribs.</p>
    </div>
</div>


